{{- if and (eq .chezmoi.os "darwin") (not .is_minimum) -}}
#!/usr/bin/env bash

source {{ .chezmoi.workingTree }}/lib/logs.sh

if [ "$(command -v softwareupdate)" ]; then
  log_task "Upgrading macOS..."
  softwareupdate -ia
fi

if [ "$(command -v mas)" ]; then
  log_task "Upgrading mas..."
  mas upgrade
fi

if [ "$(command -v brew)" ]; then
  log_task "Upgrading packages..."
  brew upgrade
  log_task "Cleaning up..."
  brew cleanup
fi

if [ "$(command -v mise)" ]; then
  log_task "Updating mise plugins..."
  mise plugins update
fi

log_done "Everything is up-to-date!"

{{- end -}}
