.asdfrc

{{- if .is_minimum }}
.gitconfig
.npmrc
.workrc
.ssh/
.ssh/*
Backup/
Backup/*
Library/
Library/*
Workspace/
Workspace/*
{{- end -}}

{{- if .is_headless }}
.npmrc
.workrc
.ssh/*
!.ssh/authorized_keys
!.ssh/config
!.ssh/mbp_ed25519.pub
Backup/
Backup/*
Library/
Library/*
Workspace/
Workspace/*
{{- end -}}

{{- if ne .chezmoi.os "darwin" }}
Library/
Library/*
{{- end -}}

{{- if not .is_work }}
.npmrc
.workrc
Workspace/
Workspace/*
{{- end -}}

{{- if not .is_headless }}
.local/bin/
.local/bin/*
{{- end -}}
