".oh-my-zsh":
  type: "git-repo"
  url: "https://github.com/ohmyzsh/ohmyzsh.git"
  refreshPeriod: "168h"

".oh-my-zsh/custom/themes/powerlevel10k":
  type: "git-repo"
  url: "https://github.com/romkatv/powerlevel10k.git"
  refreshPeriod: "168h"

".oh-my-zsh/custom/plugins/zsh-syntax-highlighting":
  type: "git-repo"
  url: "https://github.com/zsh-users/zsh-syntax-highlighting.git"
  refreshPeriod: "168h"

".oh-my-zsh/custom/plugins/zsh-autosuggestions":
  type: "git-repo"
  url: "https://github.com/zsh-users/zsh-autosuggestions.git"
  refreshPeriod: "168h"

".oh-my-zsh/custom/plugins/autoupdate":
  type: "git-repo"
  url: "https://github.com/TamCore/autoupdate-oh-my-zsh-plugins"
  refreshPeriod: "168h"
