.asdfrc

{{- if .is_minimum }}
.npmrc
.workrc
.ssh/
.ssh/*
Backup/
Backup/*
Library/
Library/*
Workspace/
Workspace/*
{{- end -}}

{{- if .is_headless }}
.ssh/*
!.ssh/authorized_keys
{{- end -}}

{{- if ne .chezmoi.os "darwin" }}
Library/
Library/*
{{- end -}}

{{- if not .is_work }}
.npmrc
.workrc
Workspace/
Workspace/*
{{- end -}}
