[core]
  editor = {{ .editor }}
[user]
  name = owpac
  email = {{ .email }}
  signingkey = {{ onepasswordRead "op://Personal/sign_ed25519/public key" }}

[url "git@github.com:owpac/"]
	insteadOf = https://github.com/owpac/

[commit]
  gpgsign = true
[push]
  autoSetupRemote = true
[pull]
  rebase = false
[fetch]
  prune = true

[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

{{ if stat "/opt/homebrew/bin/code" -}}
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
{{- end }}

{{ if .is_work -}}
[includeIf "gitdir:~/Workspace/doctolib/"]
  path = ~/Workspace/doctolib/.gitconfig
{{- end -}}
