export PATH="${HOME}/.local/bin:${PATH}"
{{ if and .is_work (stat "/opt/homebrew/bin/gh") -}}
{{- /* export HOMEBREW_GITHUB_API_TOKEN="$(/opt/homebrew/bin/gh auth token 2>/dev/null)" */ -}}
{{ end -}}
