{{ if stat "/opt/homebrew/bin/brew" -}}
fpath+=("{{ output "/opt/homebrew/bin/brew" "--prefix" | trim }}/share/zsh/site-functions")

eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

{{- if eq .chezmoi.os "linux" }}
export PATH="${HOME}/.local/bin:${PATH}"
{{- end -}}

{{- if .is_headless }}
export PATH="${HOME}/bin:${PATH}"
{{- end -}}