{{- if eq .chezmoi.os "darwin" -}}
# Use 1Password SSH agent
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

Host github.com
  HostName github.com
  User thomas
  IdentityFile ~/.ssh/mbp_ed25519.pub
  IdentitiesOnly yes

Host rpi
  HostName 10.0.0.10
  User thomas
  IdentityFile ~/.ssh/mbp_ed25519.pub
  IdentitiesOnly yes
  ForwardAgent yes
  PermitRemoteOpenSSH no

Host nas
  HostName 10.0.0.12
  User thomas
  IdentityFile ~/.ssh/mbp_ed25519.pub
  IdentitiesOnly yes
  ForwardAgent yes
  PermitRemoteOpenSSH no

{{ if .is_work -}}
Include /Users/thomas/.colima/ssh_config

Host doctolib
  HostName github.com
  User git
  IdentityFile ~/.ssh/doctolib_ed25519.pub
  IdentitiesOnly yes
{{- end }}
