{{- if eq .chezmoi.os "darwin" -}}
Include {{ .chezmoi.homeDir }}/.colima/ssh_config

# Use 1Password SSH agent
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{ end -}}
{{- if .is_headless -}}
# Headless mode - use local public keys with forwarded agent
Host *
  IdentitiesOnly yes

{{ end -}}
Host github.com
  IdentityFile ~/.ssh/mbp_ed25519.pub
  IdentitiesOnly yes

Host nas
  HostName 10.0.0.10
  User thomas
  IdentityFile ~/.ssh/mbp_ed25519.pub
  IdentitiesOnly yes
  ForwardAgent yes

Host rpi
  HostName 10.0.0.12
  User thomas
  IdentityFile ~/.ssh/mbp_ed25519.pub
  IdentitiesOnly yes
  ForwardAgent yes

{{ if .is_work -}}
Host doctolib
  HostName github.com
  IdentityFile ~/.ssh/doctolib_ed25519.pub
  IdentitiesOnly yes
{{- end }}
